<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <title>福利球-首页</title>
    <!--CSS-->
    <link href="/css/materialize/materialize.css" rel="stylesheet"/>
    <link href="/css/fuliqiu-custom.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--JS-->
    <script src="/js/jquery/jquery-3.2.1.min.js"></script>
    <script src="/js/materialize/materialize.js"></script>


</head>

<body>
<!--导航-->
<header>
    <div class="container z-depth-1">
        <!--导航LOGO-->
        <nav class="nav-extended white font-color-black zx-nav-bg">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="" class="brand-logo"><i class="black-text material-icons hide">query_builder</i><img
                            src="/img/logo.png"
                            style="height:200px;margin-top:0px;margin-left:0px;"/></a>
                </div>
            </div>
            <div class="nav-content ">
                <ul class="tabs tabs-transparent">
                    <!--<li class="tab"><a href=""></a></li>-->
                </ul>
                <!--搜索按钮-->
                <a id="searchButton" onclick=""
                   class="btn-floating btn-large halfway-fab waves-effect waves-light deep-orange z-depth-1 hoverable">
                    <i class="material-icons">search</i>
                </a>
            </div>
        </nav>
        <!--搜索框-->
        <nav id="headerSearch" class="white-transparent white lighten-5 hoverable" style="display:none;">
            <div class="container nav-wrapper">
                <form method="get" action="">
                    <div class="input-field ">
                        <input id="search" type="search" name="q" placeholder="输入要搜索的内容..." required="required"/>
                        <label class="label-icon black-text active" for="search">
                             <i class="material-icons black-text">search</i>
                        </label>
                        <a href=""><i class="material-icons">close</i></a>
                    </div>
                </form>
            </div>
        </nav>
        <!--导航分栏-->
        <nav>
            <div class="nav-wrapper light-blue accent-2 z-depth-3">
                <ul class="left hide-on-med-and-down">
                    <li><a href="">首页</a></li>
                    <li><a href="">推荐</a></li>
                    <li><a href="">无聊剁手</a></li>
                    <li><a href="">网赚分享</a></li>
                    <li><a href="">故事会</a></li>
                    <li><a href="">知慕少艾</a></li>
                    <li><a href="">实用软件</a></li>
                    <li><a href="">电影</a></li>
                    <li><a class="dropdown-button" data-activates="dropdown1">下拉<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="">一</a></li>
                        <li><a href="">二</a></li>
                        <li class="divider"></li>
                        <li><a href="">三</a></li>
                    </ul>
                </ul>
                <ul class="right hide-on-med-and-down ">
                    <li><a href=""><i class="left tiny material-icons">perm_identity</i><span>登录</span></a></li>
                    <li><a href=""><i class="left tiny material-icons">assignment_ind</i><span>注册</span></a></li>
                </ul>
            </div>
        </nav>

    </div>
</header>
<!--主体-->
<main>
    <div class="container ">

        <div class="row">
            <div id="postsDiv" class="col s6 m9 l9">
                <!--页面标题-->
                <div class="collection">
                    <a disabled="true" class="collection-item active light-blue accent-2 "><h6 class="zx-font-b">热门排行榜</h6></a>
                </div>
                <!--排行榜-->
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header hoverable"><i
                                class="material-icons">whatshot</i>一、<span>杭州一少年因肥胖把自己的手压骨折</span></div>
                        <div class="collapsible-body">
                            <!--排行榜内容-->
                            <div name="postDiv" class="card horizontal hoverable">
                                <a class="waves-effect waves-light btn zx-absolue">网赚分享</a>
                                <div class="card-image valign-wrapper ">
                                    <a href=""><img src="/img/1.gif"/></a>
                                </div>
                                <a href="">
                                    <div class="card-stacked ">
                                        <div class="card-content black-text">
                                            <span class="new badge blue z-depth-2" data-badge-caption="浏览">4</span>
                                            <span class="new badge red z-depth-2 " data-badge-caption="评论">8</span>
                                            <div class="collection ">
                                                <a href=""
                                                   class="collection-item active light-blue accent-2 zx-font-b">杭州一少年因肥胖把自己的手压骨折</a>
                                            </div>
                                            <div class="card-action grey-text ">
                                                <p>我是一个很简单的卡片。我很擅长于包含少量的信息。
                                                    我是一个很简单的卡片。我很擅长于包含少量的信息。ddddddddddd滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴dddddddddddddddddddddddddddddddddddddddddddddd</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header hoverable"><i
                                class="material-icons">whatshot</i>二、<span>杭州一少年因肥胖把自己的手压骨折</span></div>
                        <div class="collapsible-body">
                            <!--排行榜内容-->
                            <div name="postDiv" class="card horizontal hoverable">
                                <a class="waves-effect waves-light btn zx-absolue">网赚分享</a>
                                <div class="card-image valign-wrapper ">
                                    <a href=""><img src="/img/1.gif"/></a>
                                </div>
                                <a href="">
                                    <div class="card-stacked ">
                                        <div class="card-content black-text">
                                            <span class="new badge blue z-depth-2" data-badge-caption="浏览">4</span>
                                            <span class="new badge red z-depth-2 " data-badge-caption="评论">8</span>
                                            <div class="collection ">
                                                <a href=""
                                                   class="collection-item active light-blue accent-2 zx-font-b">杭州一少年因肥胖把自己的手压骨折</a>
                                            </div>
                                            <div class="card-action grey-text ">
                                                <p>我是一个很简单的卡片。我很擅长于包含少量的信息。
                                                    我是一个很简单的卡片。我很擅长于包含少量的信息。ddddddddddd滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴dddddddddddddddddddddddddddddddddddddddddddddd</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header hoverable"><i class="material-icons">whatshot</i>三、<span>杭州一少年因肥胖把自己的手压骨折</span>
                        </div>
                        <div class="collapsible-body">
                            <!--排行榜内容-->
                            <div name="postDiv" class="card horizontal hoverable">
                                <a class="waves-effect waves-light btn zx-absolue ">网赚分享</a>
                                <div class="card-image valign-wrapper ">
                                    <a href=""><img src="/img/1.gif"/></a>
                                </div>
                                <a href="">
                                    <div class="card-stacked ">
                                        <div class="card-content black-text">
                                            <span class="new badge blue z-depth-2" data-badge-caption="浏览">4</span>
                                            <span class="new badge red z-depth-2 " data-badge-caption="评论">8</span>
                                            <div class="collection ">
                                                <a href=""
                                                   class="collection-item active light-blue accent-2 zx-font-b">杭州一少年因肥胖把自己的手压骨折</a>
                                            </div>
                                            <div class="card-action grey-text ">
                                                <p>我是一个很简单的卡片。我很擅长于包含少量的信息。
                                                    我是一个很简单的卡片。我很擅长于包含少量的信息。ddddddddddd滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴dddddddddddddddddddddddddddddddddddddddddddddd</p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="divider"></div>
                <!--帖子-->
                <div name="postDiv" class="card horizontal hoverable">
                    <a class="waves-effect waves-light btn zx-absolue">网赚分享</a>
                    <div class="card-image valign-wrapper ">
                        <a href=""><img src="/img/1.gif"/></a>
                    </div>
                    <a href="">
                        <div class="card-stacked ">
                            <div class="card-content black-text">
                                <span class="new badge blue z-depth-2" data-badge-caption="浏览">4</span>
                                <span class="new badge red z-depth-2 " data-badge-caption="评论">8</span>
                                <div class="collection ">
                                    <a href=""
                                       class="collection-item active light-blue accent-2 zx-font-b">杭州一少年因肥胖把自己的手压骨折</a>
                                </div>
                                <div class="card-action grey-text ">
                                    <p>我是一个很简单的卡片。我很擅长于包含少量的信息。
                                        我是一个很简单的卡片。我很擅长于包含少量的信息。ddddddddddd滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴答滴dddddddddddddddddddddddddddddddddddddddddddddd</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <!--右侧栏位-->
            <div class="col s6 m3 l3">
                <div><img class="responsive-img materialboxed " src="/img/1.jpg"/></div>
                <div><img class="responsive-img materialboxed" src="/img/2.jpg"/></div>
            </div>
            <!--分页-->
            <div class="row ">
                <ul class="pagination col offset-l2">
                    <li class="disabled hoverable"><a href=""><i class="material-icons">first_page</i></a></li>
                    <li class="disabled hoverable"><a href=""><i class="material-icons">chevron_left</i></a></li>
                    <li class="active hoverable"><a href="">1</a></li>
                    <li class="waves-effect hoverable"><a href="">2</a></li>
                    <li class="waves-effect hoverable"><a href="">3</a></li>
                    <li class="waves-effect hoverable"><a href="">4</a></li>
                    <li class="waves-effect hoverable"><a href="">5</a></li>
                    <li class="waves-effect hoverable"><a href=""><i class="material-icons">chevron_right</i></a></li>
                    <li class="waves-effect hoverable"><a href=""><i class="material-icons">last_page</i></a></li>
                </ul>
            </div>
        </div>
        <!--弹幕发送框-->
        <div class="input-field hoverable">
            <form>
                <input id="barrage" type="search" required="required" placeholder="输入要发送的弹幕消息..." />
                <label class="label-icon" for="search"><i class="material-icons">credit_card</i></label>
                <i class="material-icons">trending_flat</i>
            </form>
        </div>
    </div>
</main>
<!--页脚-->
<footer class="page-footer light-blue accent-2 container z-depth-2">
    <div class="container ">
        <div class="row ">
            <div class="col l6 s12">
                <h5 class="white-text">网站信息</h5>
                <div class="divider"></div>
                <p class="grey-text text-lighten-4">邮箱:970389745@qq.com</p>
                <p class="grey-text text-lighten-4">QQ:970389745</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">友情链接</h5>
                <div class="divider"></div>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="">链接 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="">链接 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="">链接 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="">链接 4</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container grey-text text-lighten-4">
                FULIQIU.COM V0.1
                <span class=" right">Copyright © 2017 福利球 版权所有</span>
            </div>
        </div>
    </div>
</footer>


<script>
    $(function () {
        $('#searchButton').click(function () {
            $('#headerSearch').toggle();
        });
    });
</script>
</body>
</html>
